html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #D8FED7;
}
#left{
    width: 50%;
    height: 100vh;
}
#right{
    width: 50%;
    min-height: 100vh;
    background: palegreen;
}
#brading {
    width: 200px;
    height: auto;
}
#condition{
    width: 100px;
    height: auth;
}
#master-history{
    display: none;
}
img#branding {
    width: 100%;
    height: 100%;
    display: block;
}